.navbar-custom {
    padding: 13px 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.103);}
.menu-icon {
    font-size: 24px;
    color: #343a40;
    cursor: pointer;
    transition: transform 0.3s ease;}
.icon:hover {
    cursor: pointer;
    text-decoration: underline;}
.menu-icon:hover {
    transform: rotate(90deg);}
.categories {
    background-color: #e9ecef;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;}
.categories:hover {
    background-color: #d4dce4;}
.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    max-width: 40px;}
.search-bar input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    outline: none;}
.search-bar i {
    margin-left: -30px;
    color: #6c757d;}
.delivery {
    color: #343a40;
    margin-right: 20px;}
.delivery span {
    font-size: 12px;
    color: #6c757d;}
.icons .cart-icon {
    font-size: 24px;}
.shopping span{
    background: rgb(209, 78, 78);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 9px;
    left: 83%;
    padding: 2px 8px;}
.search-bar {
    max-width: 400px;}
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #888;}
@media (max-width: 575.98px) {
    .carousel-items-1 {
        height: 50vh;
    }
    .carousel-items-1 img {
        height: 50vh;
    }}
@media (max-width: 767.98px) {
    .carousel-items-1 {
        height: 60vh;
    }
    .carousel-items-1 img {
        height: 60vh;
    }}
@media (min-width: 992px) {
    .carousel-items-1 {
        height: 60vh;
    }

    .carousel-item img {
        height: 70vh;
    }}
@media (min-width: 1200px) {
    .carousel-items-1 {
        height: 70vh;
    }
    .carousel-items-1 img {
        height: 70vh;
    }}
@media (max-width: 768px) {
    .container {
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #d1d1d1 #f7f7f7;
    }
    .container::-webkit-scrollbar {
        height: 8px;
    }
    .container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .container::-webkit-scrollbar-thumb {
        background-color: #e7e7e7;
        border-radius: 10px;
        border: 2px solid #f1f1f1;
}}
.lifestyle-icon {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}
.gluten-free {
    background-color: #fff4e6;}
.vegan {
    background-color: #e6f7f1;}
.plant-based {
    background-color: #e6f0ff}
.keto {
    background-color: #ffe6e6;}
.card {
    overflow: hidden;}
.card-body {
    position: relative;
    z-index: 2;}
.card img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: auto;
    z-index: 1;}
.card-text {
    color: #6c757d;}
